adminUsername = "adminlogin"
adminPassword = "adminpassword"

hmac_key = "ex4mPl_3".encode()

Host = "https://10.10.10.10:7071"
CreateAccountURL = Host+"/service/admin/soap/CreateAccountRequest"
AuthURL = Host+"/service/admin/soap/AuthRequest"
DeleteAccountURL = Host + "/service/admin/soap/DeleteAccountRequest"
BatchRequestURL = Host + "/service/admin/soap/BatchRequest"

EmailDomain = "@zimbra.com"
